<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h2>Awesome Cars</h2>
    <div class="cars">
        <img src="/images/car1.png" alt="Car 1">
        <img src="/images/car2.png" alt="Car 2">
        <img src="/images/car3.jpg" alt="Car 3">
        <img src="/images/car4.jpg" alt="Car 4">
    </div>
</body>
</html>