<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Car</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Fill in the form!</h1>
    <form action="/result" method="post">
        <label>Your Name:</label>
        <input type="text" placeholder="Enter your name" name="name_key">
        <label>Car make:</label>
        <input type="text" placeholder="Enter car make" name="car_make">
        <label>Car model:</label>
        <input type="text" placeholder="Enter car model" name="car_model">
        <label>Pickup Location:</label>
        <select name="location_key">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Burbank">Burbank</option>
            <option value="Tulsa">Tulsa</option>
        </select>
        <label>Car Color:</label>
        <select name="color_key">
            <option value="Black">Black</option>
            <option value="Silver">Silver</option>
            <option value="Red">Red</option>
            <option value="White">White</option>
        </select>
        <label>Comment (optional):</label>
        <textarea name="comment_key" cols="30" rows="10"></textarea>
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>